.modal_resultado {
    position: fixed;
    z-index: 100;
    left: 1rem;
    right: 1rem;
    top: 15vh;
    display: none;
    flex-direction: column;
    border-radius: 20px;
    border: none;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    width: 80vw;
}

.modal_mensagem {

}

.modal_resultado_semestre {

}

.modal_resultado_media {

}

.modal_resultado_exame_final {

}

.resultado_aprovado {

}

.resultado_exame_final {

}

.resultado_reprovado {

}

.botao-confirma_modal_resultado{
    width: 25vw;
    height: 5vh;
    margin: 1rem auto;
    border-radius: 20px;
    border: none;
    flex-grow: 0.1;
}
