.modal_resultado {
    background-color: #36558F;
    color: #FBF5F3;
    position: fixed;
    z-index: 100;
    left: 1rem;
    right: 1rem;
    top: 15vh;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: none;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    width: 80vw;
    font-family: 'Quicksand',Tahoma, Verdana, sans-serif;
}

.resultado {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
}

.modal_mensagem {

}

.modal_resultado_semestre {

}

.modal_resultado_media {

}

.modal_resultado_exame_final {

}

.resultado_aprovado {

}

.resultado_exame_final {

}

.resultado_reprovado {

}

.botao_confirma_modal_resultado{
    background-color: #000F08;
    color: #FBF5F3;
    width: 25vw;
    height: 5vh;
    margin: 1rem auto;
    border-radius: 20px;
    border: none;
    flex-grow: 0.1;
    transition: 50ms;
}

.botao_confirma_modal_resultado:active/*:hover*/ {
    background-color: #36558F;
    color: #FBF5F3;
    border: solid 2px #000F08;
}
