.form_notas{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 95vw;
    height: 60vh;
    border-radius: 20px;
}

.input_notas{
    width: 80vw;
    border: solid 0.5px #000F08;
    border-radius: 20px;
    height: 2.5rem;
    padding-left: 5vw;
}

.input_notas::placeholder {
    color: #36558F;
    opacity: 1;
    transition: 300ms;
}

.input_notas:focus::placeholder {
    color: #000F08;
    opacity: 0.5;
}

.botao_notas{
    background-color: #416788;
    color: #FBF5F3;
    width: 25vw;
    height: 5vh;
    margin: 1rem auto;
    border-radius: 20px;
    border: solid 2px #36558F;
    transition: 50ms;
}

.botao_notas:active/*:hover*/ {
    background-color: #36558F;
    color: #FBF5F3;
    border: solid 2px #000F08;
}


.msgErro {
    width: 70vw;
    height: 4rem;
    font-weight: 500;
    word-wrap: break-word;
    text-align: center;
    color: #753f3f;
}


@media (min-width: 460px) {
    
    .input_notas {
        width: 60%;
        padding-left: 2%;
    }

    .msgErro {
        width: 65%;
    }

    .botao_notas {
        width: 20%;
    }

}


@media (min-width: 1024px) {
    
    .input_notas {
        width: 30%;
    }

    .msgErro {
        width: 40%;
    }

    .botao_notas {
        width: 10%;
    }

}
